
body
{
    background-color: #230158;
}

.title
{
    position: fixed;

    /*
    height: 170px;
    left: 66px;
    top: 35px;
    */

    font-family: 'Almarai';
    font-style: normal;
    font-weight: 700;
    font-size: 140px;
    line-height: 179px;

    /* background: linear-gradient(270deg, #5F3AA3 37.62%, #FE5A97 71.55%, #FD9C50 103.41%, rgba(71, 244, 255, 0) 103.41%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    /* background-clip: text; */
    /* text-fill-color: transparent; */

    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(270deg, #5F3AA3 37.62%, #FE5A97 71.55%, #FD9C50 103.41%, rgba(71, 244, 255, 0) 103.41%);

}

.sub-title
{
    position: fixed;

    /*
    width: 883px;
    height: 129px;
    left: 66px;
    top: 210px;
    */

    font-family: 'Almarai';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 77px;

    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(180deg, #ACD8FF 0%, rgba(11, 139, 255, 0) 100%);
}

.statement
{
    position: fixed;

    /*
    width: 802px;
    height: 586px;
    left: 66px;
    top: 316px;
    */

    font-family: 'B612 Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 77px;

    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(180deg, #80C2FF -4.95%, #65508C 84.3%);
}

.left-side
{
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;

    /*
    background-image: url('background-image.jpeg');
    background-size: cover;
    background-position: right;
    position: center;
    */
}

/*
.background-photo
{
    position: absolute;
    width: 1799.71px;
    height: 1080px;
    left: 762px;
    top: 0px;
}
*/